<html>
<body>
  <table style="border:1px" width="800">
  <input type="button" class="btn-primary" value="Search" (click)="doSearch()"/>
  <input type="text" placeholder="please input"/>
  <!-- <mat-selection-list #shoes>
    <mat-list-option *ngFor="let shoe of typesOfShoes">
      {{shoe}}
    </mat-list-option>
  </mat-selection-list> -->
  <!-- <mat-list>
    <mat-list-item>問卷調查</mat-list-item>
    <mat-list-item>部落格</mat-list-item>
    <mat-list-item>收件夾</mat-list-item>
  </mat-list> -->
  <!-- <table>
    <tr *ngfor="let item of typesOfShoes">
      <td>{{item}}</td><p>
    </tr>
  </table> -->
  <!-- <p>
    Options selected: {{shoes.selectedOptions.selected.length}}
  </p>  
  <p>
    Options selected: {{shoes.selectedOptions.selected.length}}
  </p> -->


  <input type="button" class="btn-primary" value="Insert" (click)="Insert()"/>
  <input type="button" class="btn-primary" value="Cancel" (click)="goback()"/>
</table>  
</body>

</html>