<mat-table [dataSource]="tt" matSort >
  <!-- Checkbox Column matSort #sortTable="matSort"-->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container> 
    <ng-container matColumnDef="SaleNo">
      <mat-header-cell *matHeaderCellDef>SaleNo</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.SaleNo }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="SaleDate">
      <mat-header-cell *matHeaderCellDef>SaleDate</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.SaleDate }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="CustomerNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CustomerNo</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.CustomerNo }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="DeAddress">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DeAddress</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.DeAddress }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="PhoneNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>PhoneNo</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.PhoneNo }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="TotalAmt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>TotalAmt</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.TotalAmt }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="management">
      <mat-header-cell *matHeaderCellDef>
        <u>管理</u>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <!-- <button mat-button color="primary" (click)="reply(row)">Modify</button>
        <button mat-button color="warn" (click)="delete(row)">Del</button> -->
        <button mat-button color="primary"  (click)="$event ? ModifyRow(row) : null">Edit</button>
        <button mat-button color="warn" (click)="$event ?DeleteRow(row): null">Del</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['SaleNo', 'SaleDate', 'CustomerNo', 'DeAddress','PhoneNo','TotalAmt','management']"></mat-header-row>
    <mat-row *matRowDef="let emailRow; columns: ['SaleNo', 'SaleDate', 'CustomerNo', 'DeAddress','PhoneNo','TotalAmt', 'management']"></mat-row>
    <!-- <table>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table> -->
  </mat-table>
  <!-- <mat-paginator #paginator 
  [length]="totalCount" 
  [pageIndex]="0" 
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 15]">
</mat-paginator> -->
<button mat-button color="primary">Submit</button>
<button mat-button color="primary">Clear</button>