<div>
    
  <Label ID="Label4"  >Customer</Label>
  <input type="text" ID="txtCustomer" >
  <br />
  <Label ID="Label5">Name</Label>
  <input type="text" ID="txtName" >
  <br />
  <Label ID="Label6">deaddress</Label>
  <input type="text" ID="txtdeaddress" >
  <br />
  <Label ID="Label7"  >PhoneNo</Label>
  <input type="text" ID="txtPhoneNo" >
  <br />
  <input type="button" ID="btnAdd"  value="Add" />

  <input type="button" ID="btnModify"  value="Modify" />

  <input type="button" ID="btnDelete"  value="Delete" />

</div>